<%- model_class = Shop -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

    <% @shops.each do |shop| %>

        <h1><%= link_to shop.name, shop %></h1><br>
        <%= if shop.photo?
              image_tag shop.photo.url(:small), :class => "img-thumbnail"
            else
              image_tag("avatar.png", id: "img_prev", alt: "no image",:class => "img-thumbnail")
            end %>
        <!--<%= shop.owner %>
        <%= shop.description %>
        <%= shop.location %>
        <%= shop.contact %>-->

    <hr>
    <% end %>

<br>
<br>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_shop_path,
            :class => 'btn btn-primary' %>


